# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
.env.*.local
**/.env
!**/.env.example

# builds
dist/
.next/
**/.next/
out/
coverage/

# logs
*.log
logs/
firebase-debug.log

# os / editor / local
.DS_Store
.claude/
.vercel
.firebase/
